{% if article.tags %}
    <div class='hidden'>Tagged:</div>
    {% for tag in article.tags %}
    <a class='hidden' href="{{ SITEURL }}/{{ tag.url }}">{{ tag }} </a>
    {% endfor %}
{% endif %}
</p>

{% if PDF_PROCESSOR %}<p><a href="{{ SITEURL }}/pdf/{{ article.slug }}.pdf">PDF</a></p>{% endif %}

{% import 'translations.html' as translations with context %}
{{ translations.translations_for(article) }}
