<!DOCTYPE html>
<head>
    <meta charset="utf-8" />
    <!-- Set the viewport width to device width for mobile -->
    <meta name="viewport" content="width=device-width" />

    <title>{% block title %}{{ SITENAME }}{%endblock%}</title>

    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/normalize.css" />
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/foundation.min.css" />
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/style.css" />
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/pygments.css" />
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"
        integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk="
        crossorigin="anonymous" />
    <script src="{{ SITEURL }}/theme/js/modernizr.js"></script>
    <script src="https://cdn.amplitude.com/libs/analytics-browser-2.11.1-min.js.gz"></script>
    <script src="https://cdn.amplitude.com/libs/plugin-session-replay-browser-1.8.0-min.js.gz"></script>
    <script>
      window.amplitude.add(window.sessionReplay.plugin({sampleRate: 1}));
      window.amplitude.init('{{ AMPLITUDE_API_KEY }}', {"autocapture":{"elementInteractions":true}});
    </script>
</head>

<body>

<!-- Nav Bar -->
<nav>
<div class="top-bar">
  <div class="row">
    <div class="large-9 large-centered columns">
	    <h1><a href="{{ SITEURL }}">{{ SITENAME }}</a> <small>{{ MOTIV }}</small></h1>
    </div>
  </div>
</div>
</nav>
<!-- End Nav -->

<!-- Main Page Content and Sidebar -->
<div class="row">
    <!-- Main Blog Content -->
    <div class="small-12 columns">
    {% block content %}{% endblock %}
    </div>
    <!-- End Main Content -->
    <!-- Sidebar -->
</div> <!-- End Main Content and Sidebar -->


<!-- Footer -->
<footer class="row">
    <div class="large-12 columns">
        <hr />
        <div class="row">
            <div class="large-6 columns">
              <!--                  <p>{{ SITENAME }} by {{ AUTHOR }}</p> -->
            </div>
            </div>
    </div>
</footer>
</body>
</html>
