<!-- Footer -->
<footer id="footer">

    <ul class="icons">
      {% for title, link in SOCIAL %}
        <li>
          <a href="{{ link }}" class="icon circle fa fa-{{ title }}"><span class="label">{{ title }}</span></a>
        </li>
      {% endfor %}
    </ul>

    <span class="copyright">&copy; {{ author }}. All rights reserved.</span>

</footer>
