{% extends "base.html" %}
{% block content_title %}{% endblock %}
{% block content %}
{% if articles %}
  {% for article in articles_page.object_list %}
    {% if loop.length == 1 %}
        {% include 'pagination.html' %}
    {% endif %}
    {% if loop.first and loop.length > 1 %}
        <div class="row">
    {% endif %}
    <div class="large-4 columns">
      <article>
        <h3 class="article-title">{{ article.title }}</h3>
        {% include 'article_infos.html' %}{{ article.content }}{% include 'article_infos_bottom.html' %}{% include 'comments.html' %}
      </article>
    </div>
    {% if loop.index % 3 == 0 or loop.last %}
      {% if loop.last %}
        </div>
      {% else %}
        </div>
        <div class="row">
      {% endif %}
    {% endif %}
  {% endfor %}
{% else %}
  <h3>Pages</h3>
  {% for page in PAGES %}
    <li><a href="{{ SITEURL }}/{{ page.url }}">{{ page.title }}</a></li>
  {% endfor %}
{% endif %}
{% endblock content %}
